<m-body>
      <nav-mobile x-data="template([
    {
      text: 'Data BMKG',
      backgroundColor: 'bg-slate-50',
      textColor: 'text-slate-800'
    }
  ])">
  </nav-mobile>
      <div x-data="getBMKG()" x-init="fetchBMKG()">
        <div class="">
          <section class="p-5">
            <div x-show="isLoading">
              <loading-circle></loading-circle>
            </div>
            <div class="space-y-2">
              <forEach="pangan in dataBMKG.data.areas">
                <div x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90" class="flex space-x-3 rounded-2xl bg-white p-3 shadow-sm">
                  <div>
                    <h3 x-text="pangan.description" class="font-semibold text-gray-600"></h3>
                    <p x-text="pangan.domain" class="text-sm text-slate-400"></p>
                   <!--<template x-for="weather in pangan.params[6].times.slice(3,4)">
                      <p class="text-sm text-slate-400" x-html="'Tanggal: ' + weather.datetime.substring(6, 8) + '<br> Jam: '+ weather.datetime.substring(8, 10) + '.00<br>' + weather.name"></p>
                      </template>!-->
                  </div>
                </div>
              </forEach>
          </section>
        </div>
</m-body>