<m-body>
    <nav-mobile x-data="template([
    {
      text: 'Harga Pangan',
      backgroundColor: 'bg-slate-50',
      textColor: 'text-slate-800'
    }
  ])">
    </nav-mobile>
    <div x-data="getHargaPangan()" x-init="fetchPangan()">
      <div class="">
        <section class="p-5">
          <div x-show="isLoading">
            <loading-circle></loading-circle>
          </div>
          <div class="space-y-2">
            <template x-for="pangan in dataPangan.harga_pangan">
              <div x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90" class="flex space-x-3 rounded-2xl bg-white p-3 shadow-sm">
                <img x-bind:src="'assets/img/pangan/' + pangan.id + '.jpg'" style="width:50px;height:50px;" class="w-16  object-cover  h-16 rounded-xl">
                <div>
                  <h3 x-text="pangan.nama" class="font-semibold text-gray-600"></h3>
                  <p class="text-sm text-slate-400">
                    <span x-text="pangan.display"></span>/kg
                  </p>
                </div>
              </div>
            </template>
        </section>
      </div>
</m-body>